<p id="notice"><%= notice %></p>

<p>
  <strong>Qtde:</strong>
  <%= @qtdeambiente.qtde %>
</p>

<%= link_to 'Edit', edit_qtdeambiente_path(@qtdeambiente) %> |
<%= link_to 'Back', qtdeambientes_path %>
